AmoghReports.WebSite/Web References/RFITransmittalWebservice/RFITransmittalService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://maakuthari.com/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://maakuthari.com/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://maakuthari.com/">
      <s:element name="RegisterRFITransmittalDetails">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ProjId" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="RFI_Number" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="SUB_CON_ID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="Inspector_Name" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Inspection_Date" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Item_Desc" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Inspection_Result" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RegisterRFITransmittalDetailsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="RegisterRFITransmittalDetailsResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="int" type="s:int" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="RegisterRFITransmittalDetailsSoapIn">
    <wsdl:part name="parameters" element="tns:RegisterRFITransmittalDetails" />
  </wsdl:message>
  <wsdl:message name="RegisterRFITransmittalDetailsSoapOut">
    <wsdl:part name="parameters" element="tns:RegisterRFITransmittalDetailsResponse" />
  </wsdl:message>
  <wsdl:message name="RegisterRFITransmittalDetailsHttpGetIn">
    <wsdl:part name="ProjId" type="s:string" />
    <wsdl:part name="RFI_Number" type="s:string" />
    <wsdl:part name="SUB_CON_ID" type="s:string" />
    <wsdl:part name="Inspector_Name" type="s:string" />
    <wsdl:part name="Inspection_Date" type="s:string" />
    <wsdl:part name="Item_Desc" type="s:string" />
    <wsdl:part name="Inspection_Result" type="s:string" />
  </wsdl:message>
  <wsdl:message name="RegisterRFITransmittalDetailsHttpGetOut">
    <wsdl:part name="Body" element="tns:int" />
  </wsdl:message>
  <wsdl:message name="RegisterRFITransmittalDetailsHttpPostIn">
    <wsdl:part name="ProjId" type="s:string" />
    <wsdl:part name="RFI_Number" type="s:string" />
    <wsdl:part name="SUB_CON_ID" type="s:string" />
    <wsdl:part name="Inspector_Name" type="s:string" />
    <wsdl:part name="Inspection_Date" type="s:string" />
    <wsdl:part name="Item_Desc" type="s:string" />
    <wsdl:part name="Inspection_Result" type="s:string" />
  </wsdl:message>
  <wsdl:message name="RegisterRFITransmittalDetailsHttpPostOut">
    <wsdl:part name="Body" element="tns:int" />
  </wsdl:message>
  <wsdl:portType name="RFITransmittalServiceSoap">
    <wsdl:operation name="RegisterRFITransmittalDetails">
      <wsdl:input message="tns:RegisterRFITransmittalDetailsSoapIn" />
      <wsdl:output message="tns:RegisterRFITransmittalDetailsSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="RFITransmittalServiceHttpGet">
    <wsdl:operation name="RegisterRFITransmittalDetails">
      <wsdl:input message="tns:RegisterRFITransmittalDetailsHttpGetIn" />
      <wsdl:output message="tns:RegisterRFITransmittalDetailsHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="RFITransmittalServiceHttpPost">
    <wsdl:operation name="RegisterRFITransmittalDetails">
      <wsdl:input message="tns:RegisterRFITransmittalDetailsHttpPostIn" />
      <wsdl:output message="tns:RegisterRFITransmittalDetailsHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="RFITransmittalServiceSoap" type="tns:RFITransmittalServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="RegisterRFITransmittalDetails">
      <soap:operation soapAction="http://maakuthari.com/RegisterRFITransmittalDetails" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="RFITransmittalServiceSoap12" type="tns:RFITransmittalServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="RegisterRFITransmittalDetails">
      <soap12:operation soapAction="http://maakuthari.com/RegisterRFITransmittalDetails" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="RFITransmittalServiceHttpGet" type="tns:RFITransmittalServiceHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="RegisterRFITransmittalDetails">
      <http:operation location="/RegisterRFITransmittalDetails" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="RFITransmittalServiceHttpPost" type="tns:RFITransmittalServiceHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="RegisterRFITransmittalDetails">
      <http:operation location="/RegisterRFITransmittalDetails" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="RFITransmittalService">
    <wsdl:port name="RFITransmittalServiceSoap" binding="tns:RFITransmittalServiceSoap">
      <soap:address location="https://amoghapps.com/AmoghReportsService/RFITransmittalService.asmx" />
    </wsdl:port>
    <wsdl:port name="RFITransmittalServiceSoap12" binding="tns:RFITransmittalServiceSoap12">
      <soap12:address location="https://amoghapps.com/AmoghReportsService/RFITransmittalService.asmx" />
    </wsdl:port>
    <wsdl:port name="RFITransmittalServiceHttpGet" binding="tns:RFITransmittalServiceHttpGet">
      <http:address location="https://amoghapps.com/AmoghReportsService/RFITransmittalService.asmx" />
    </wsdl:port>
    <wsdl:port name="RFITransmittalServiceHttpPost" binding="tns:RFITransmittalServiceHttpPost">
      <http:address location="https://amoghapps.com/AmoghReportsService/RFITransmittalService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>